In [42]:
import pandas as pd
df = pd.read_csv("raw_diabetes_data.csv")

print ("FIRST 10 ROWS OF DATA:\n")
df.head(10)

FIRST 10 ROWS OF DATA:

,Patient_ID,Age,Gender,BMI,Glucose_Level,Blood_Pressure,Insulin,Diabetes_Pedigree_Function,Pregnancies,Outcome
0,ID000001,56,Male,NaN,119.0,166.0,85.0,2.01,12,0
1,ID000002,69,Male,28.70,100.0,124.0,260.0,2.24,10,0
2,ID000003,46,Female,27.47,170.0,141.0,238.0,0.94,0,0
3,ID000004,32,Female,27.26,130.0,NaN,182.0,0.32,0,0
4,ID000005,60,Female,32.11,78.0,167.0,63.0,2.48,11,1
5,ID000006,25,Male,37.80,106.0,172.0,80.0,2.25,2,1
6,ID000007,78,Male,32.48,106.0,170.0,85.0,1.84,11,0
7,ID000008,38,Female,24.18,126.0,143.0,212.0,2.32,9,0
8,ID000009,56,Female,NaN,143.0,157.0,201.0,0.82,0,0
9,ID000010,75,Female,39.53,145.0,81.0,90.0,2.49,9,1

In [43]:
#Check number of rows and columns
print ("Numbersof rows:", df.shape[0])
print ("Number of columns:", df.shape[1])

#Display column names
print ("Column Names:", df.columns)

Numbersof rows: 77000
Number of columns: 10
Column Names: Index(['Patient_ID', 'Age', 'Gender', 'BMI', 'Glucose_Level', 'Blood_Pressure',
       'Insulin', 'Diabetes_Pedigree_Function', 'Pregnancies', 'Outcome'],
      dtype='object')

In [44]:
#Check for missing values

missing_patientid = df["Patient_ID"].isnull().sum()
missing_age = df["Age"].isnull().sum()
missing_gender = df["Gender"].isnull().sum()
missing_bmi = df["BMI"].isnull().sum()
missing_glucose = df["Glucose_Level"].isnull().sum()
missing_bp = df["Blood_Pressure"].isnull().sum()
missing_insulin = df["Insulin"].isnull().sum()
missing_pregnancies = df["Pregnancies"].isnull().sum()
missing_outcome = df["Outcome"].isnull().sum()


print ("Missing values in Patient ID:", missing_patientid)
print ("Missing values in Age:", missing_age)
print ("Missing values in Gender:", missing_gender)
print ("Missing values in BMI:", missing_bmi)
print ("Missing values in Glucose_Level:", missing_glucose)
print ("Missing values in Blood_Pressure:", missing_bp)
print ("Missing values in Insulin:", missing_insulin)
print ("Missing values in Pregnancies:", missing_pregnancies)
print ("Missing values in Outcome :", missing_outcome)

Missing values in Patient ID: 0
Missing values in Age: 0
Missing values in Gender: 0
Missing values in BMI: 5129
Missing values in Glucose_Level: 5158
Missing values in Blood_Pressure: 5131
Missing values in Insulin: 5140
Missing values in Pregnancies: 0
Missing values in Outcome : 0

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77000 entries, 0 to 76999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Patient_ID                  77000 non-null  object
 1   Age                         77000 non-null  int64
 2   Gender                      77000 non-null  object
 3   BMI                         71871 non-null  float64
 4   Glucose_Level               71842 non-null  float64
 5   Blood_Pressure              71869 non-null  float64
 6   Insulin                     71860 non-null  float64
 7   Diabetes_Pedigree_Function  77000 non-null  float64
 8   Pregnancies                 77000 non-null  int64
 9   Outcome                     77000 non-null  int64
dtypes: float64(5), int64(3), object(2)
memory usage: 5.9+ MB

In [46]:
df.shape

(77000, 10)

In [47]:
#total rows before removing duplicates
rows_beforedupes = df.shape[0]
dupess = df.duplicated().sum()
#remove duplicates
df = df.drop_duplicates()

#total rows after removing duplicates
rows_afterdupes = df.shape[0]

print ("Rows before removing duplicates:", rows_beforedupes)
print ("Rows after removing duplicates:", rows_afterdupes)
print ("Number of Duplicate Rows:", dupess)
print (df.shape)

Rows before removing duplicates: 77000
Rows after removing duplicates: 75000
Number of Duplicate Rows: 2000
(75000, 10)

In [48]:
#Handle missing values based on logical reasoning

#BMI: median bmi grouped by gender
#Glucose_Level: mean glucose level by outcome
#Blood_Pressure: median blood pressure by Age ranges
#Insulin: median insulin by outcome

In [49]:
#Fill missing BMI values by Gender Value

median_bmi_male = df[df["Gender"].str.strip() == "Male"]["BMI"].median()
median_bmi_female = df[df["Gender"].str.strip() == "Female"]["BMI"].median()

df.loc[df["Gender"].str.strip() == "Male", "BMI"] = df[df[
     "Gender"].str.strip() == "Male"]["BMI"].fillna(median_bmi_male)


df.loc[df["Gender"].str.strip() == "Female", "BMI"] = df[df[
     "Gender"].str.strip() == "Female"]["BMI"].fillna(median_bmi_female)

df.head(25)

,Patient_ID,Age,Gender,BMI,Glucose_Level,Blood_Pressure,Insulin,Diabetes_Pedigree_Function,Pregnancies,Outcome
0,ID000001,56,Male,29.23,119.0,166.0,85.0,2.01,12,0
1,ID000002,69,Male,28.70,100.0,124.0,260.0,2.24,10,0
2,ID000003,46,Female,27.47,170.0,141.0,238.0,0.94,0,0
3,ID000004,32,Female,27.26,130.0,NaN,182.0,0.32,0,0
4,ID000005,60,Female,32.11,78.0,167.0,63.0,2.48,11,1
5,ID000006,25,Male,37.80,106.0,172.0,80.0,2.25,2,1
6,ID000007,78,Male,32.48,106.0,170.0,85.0,1.84,11,0
7,ID000008,38,Female,24.18,126.0,143.0,212.0,2.32,9,0
8,ID000009,56,Female,29.20,143.0,157.0,201.0,0.82,0,0
9,ID000010,75,Female,39.53,145.0,81.0,90.0,2.49,9,1
10,ID000011,36,Female,25.04,175.0,91.0,167.0,1.54,4,0
11,ID000012,40,Female,28.52,191.0,118.0,146.0,2.21,8,0
12,ID000013,28,Female,18.87,90.0,174.0,257.0,0.57,3,1
13,ID000014,28,Male,35.94,126.0,94.0,39.0,0.16,2,1
14,ID000015,41,Male,35.55,148.0,163.0,211.0,0.96,10,0
15,ID000016,70,Male,33.44,184.0,NaN,298.0,1.59,14,1
16,ID000017,53,Female,26.16,173.0,128.0,86.0,2.11,11,1
17,ID000018,57,Male,26.53,187.0,97.0,139.0,1.31,0,0
18,ID000019,41,Male,29.16,161.0,106.0,249.0,0.85,5,0
19,ID000020,20,Female,27.14,72.0,NaN,175.0,2.21,9,0
20,ID000021,39,Female,29.20,189.0,146.0,56.0,0.37,7,0
21,ID000022,70,Female,23.47,191.0,141.0,133.0,0.46,0,0
22,ID000023,19,Female,25.61,178.0,153.0,278.0,1.46,12,1
23,ID000024,41,Female,18.93,189.0,76.0,108.0,2.35,5,1
24,ID000025,61,Male,25.84,89.0,71.0,105.0,2.30,1,1

In [50]:
#Fill missing Glucose_Level values by Outcome mean

mean_glucose_no = df[df["Outcome"]== 0]["Glucose_Level"].mean()
mean_glucose_yes = df[df["Outcome"]== 1]["Glucose_Level"].mean()

df.loc[df["Outcome"]== 0, "Glucose_Level"] = df[df[
     "Outcome"] == 0]["BMI"].fillna(mean_glucose_no)

df.loc[df["Outcome"]== 1, "Glucose_Level"] = df[df[
     "Outcome"] == 1]["BMI"].fillna(mean_glucose_yes)

df.head(20)

,Patient_ID,Age,Gender,BMI,Glucose_Level,Blood_Pressure,Insulin,Diabetes_Pedigree_Function,Pregnancies,Outcome
0,ID000001,56,Male,29.23,29.23,166.0,85.0,2.01,12,0
1,ID000002,69,Male,28.70,28.70,124.0,260.0,2.24,10,0
2,ID000003,46,Female,27.47,27.47,141.0,238.0,0.94,0,0
3,ID000004,32,Female,27.26,27.26,NaN,182.0,0.32,0,0
4,ID000005,60,Female,32.11,32.11,167.0,63.0,2.48,11,1
5,ID000006,25,Male,37.80,37.80,172.0,80.0,2.25,2,1
6,ID000007,78,Male,32.48,32.48,170.0,85.0,1.84,11,0
7,ID000008,38,Female,24.18,24.18,143.0,212.0,2.32,9,0
8,ID000009,56,Female,29.20,29.20,157.0,201.0,0.82,0,0
9,ID000010,75,Female,39.53,39.53,81.0,90.0,2.49,9,1
10,ID000011,36,Female,25.04,25.04,91.0,167.0,1.54,4,0
11,ID000012,40,Female,28.52,28.52,118.0,146.0,2.21,8,0
12,ID000013,28,Female,18.87,18.87,174.0,257.0,0.57,3,1
13,ID000014,28,Male,35.94,35.94,94.0,39.0,0.16,2,1
14,ID000015,41,Male,35.55,35.55,163.0,211.0,0.96,10,0
15,ID000016,70,Male,33.44,33.44,NaN,298.0,1.59,14,1
16,ID000017,53,Female,26.16,26.16,128.0,86.0,2.11,11,1
17,ID000018,57,Male,26.53,26.53,97.0,139.0,1.31,0,0
18,ID000019,41,Male,29.16,29.16,106.0,249.0,0.85,5,0
19,ID000020,20,Female,27.14,27.14,NaN,175.0,2.21,9,0

In [51]:
df["Age_Range"] = pd.cut(df["Age"], bins=[0, 30, 50, 80], labels=[
    "Young", "Middle_Age", "Old"])

median_bp_young = df[df["Age_Range"] == "Young"]["Blood_Pressure"].median
median_bp_middle = df[df["Age_Range"] == "Middle_Age"]["Blood_Pressure"].median
median_bp_old = df[df["Age_Range"] == "Old"]["Blood_Pressure"].median

df.loc[df["Age_Range"] == "Young", "Blood_Pressure"] = df[df["Age_Range"] == "Young"]["Blood_Pressure"].fillna(median_bp_young)

df.loc[df["Age_Range"] == "Middle_Age", "Blood_Pressure"] = df[df[
     "Age_Range"] == "Middle_Age"]["Blood_Pressure"].fillna(median_bp_middle)

df.loc[df["Age_Range"] == "Old", "Blood_Pressure"] = df[df[
     "Age_Range"] == "Old"]["Blood_Pressure"].fillna(median_bp_old)

df.head(15)

C:\Users\850 G4\AppData\Local\Temp\ipykernel_2576\4223459167.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[172.0 174.0 94.0 ... 114.0 95.0 162.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df["Age_Range"] == "Young", "Blood_Pressure"] = df[df["Age_Range"] == "Young"]["Blood_Pressure"].fillna(median_bp_young)

,Patient_ID,Age,Gender,BMI,Glucose_Level,Blood_Pressure,Insulin,Diabetes_Pedigree_Function,Pregnancies,Outcome,Age_Range
0,ID000001,56,Male,29.23,29.23,166.0,85.0,2.01,12,0,Old
1,ID000002,69,Male,28.70,28.70,124.0,260.0,2.24,10,0,Old
2,ID000003,46,Female,27.47,27.47,141.0,238.0,0.94,0,0,Middle_Age
3,ID000004,32,Female,27.26,27.26,<bound method Series.median of 2 141.0\...,182.0,0.32,0,0,Middle_Age
4,ID000005,60,Female,32.11,32.11,167.0,63.0,2.48,11,1,Old
5,ID000006,25,Male,37.80,37.80,172.0,80.0,2.25,2,1,Young
6,ID000007,78,Male,32.48,32.48,170.0,85.0,1.84,11,0,Old
7,ID000008,38,Female,24.18,24.18,143.0,212.0,2.32,9,0,Middle_Age
8,ID000009,56,Female,29.20,29.20,157.0,201.0,0.82,0,0,Old
9,ID000010,75,Female,39.53,39.53,81.0,90.0,2.49,9,1,Old
10,ID000011,36,Female,25.04,25.04,91.0,167.0,1.54,4,0,Middle_Age
11,ID000012,40,Female,28.52,28.52,118.0,146.0,2.21,8,0,Middle_Age
12,ID000013,28,Female,18.87,18.87,174.0,257.0,0.57,3,1,Young
13,ID000014,28,Male,35.94,35.94,94.0,39.0,0.16,2,1,Young
14,ID000015,41,Male,35.55,35.55,163.0,211.0,0.96,10,0,Middle_Age

In [52]:
#Fill missing values Insulin values using Outcome median

median_insulin_no = df[df["Outcome"] == 0]["Insulin"].median()
median_insulin_yes = df[df["Outcome"] == 1]["Insulin"].median()

df.loc[df["Outcome"]== 0, "Insulin"] = df[df[
     "Outcome"] == 0]["Insulin"].fillna(median_insulin_no)

df.loc[df["Outcome"]== 1, "Insulin"] = df[df[
     "Outcome"] == 1]["Insulin"].fillna(median_insulin_yes)

df.head(15)

,Patient_ID,Age,Gender,BMI,Glucose_Level,Blood_Pressure,Insulin,Diabetes_Pedigree_Function,Pregnancies,Outcome,Age_Range
0,ID000001,56,Male,29.23,29.23,166.0,85.0,2.01,12,0,Old
1,ID000002,69,Male,28.70,28.70,124.0,260.0,2.24,10,0,Old
2,ID000003,46,Female,27.47,27.47,141.0,238.0,0.94,0,0,Middle_Age
3,ID000004,32,Female,27.26,27.26,<bound method Series.median of 2 141.0\...,182.0,0.32,0,0,Middle_Age
4,ID000005,60,Female,32.11,32.11,167.0,63.0,2.48,11,1,Old
5,ID000006,25,Male,37.80,37.80,172.0,80.0,2.25,2,1,Young
6,ID000007,78,Male,32.48,32.48,170.0,85.0,1.84,11,0,Old
7,ID000008,38,Female,24.18,24.18,143.0,212.0,2.32,9,0,Middle_Age
8,ID000009,56,Female,29.20,29.20,157.0,201.0,0.82,0,0,Old
9,ID000010,75,Female,39.53,39.53,81.0,90.0,2.49,9,1,Old
10,ID000011,36,Female,25.04,25.04,91.0,167.0,1.54,4,0,Middle_Age
11,ID000012,40,Female,28.52,28.52,118.0,146.0,2.21,8,0,Middle_Age
12,ID000013,28,Female,18.87,18.87,174.0,257.0,0.57,3,1,Young
13,ID000014,28,Male,35.94,35.94,94.0,39.0,0.16,2,1,Young
14,ID000015,41,Male,35.55,35.55,163.0,211.0,0.96,10,0,Middle_Age

In [53]:
#Strip leading trailing spaces from gender

df["Gender"] = df["Gender"].str.strip()

In [54]:
#Verify unique values in gender
print ("Unique values in Gender after cleaning:\n")
print (df["Gender"].unique())

Unique values in Gender after cleaning:

['Male' 'Female']

In [55]:
#EXPLORATORY DATA ANALYSIS (EDA)

print ("                                 Descriptive statistics:\n")
df.describe()

                                 Descriptive statistics:

,Age,BMI,Glucose_Level,Insulin,Diabetes_Pedigree_Function,Pregnancies,Outcome
count,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000
mean,48.542307,29.233257,29.233257,157.832933,1.295869,7.005067,0.347853
std,17.892669,5.990626,5.990626,79.486816,0.692298,4.329146,0.476292
min,18.000000,18.500000,18.500000,15.000000,0.100000,0.000000,0.000000
25%,33.000000,24.240000,24.240000,92.000000,0.697500,3.000000,0.000000
50%,48.000000,29.220000,29.220000,159.000000,1.290000,7.000000,0.000000
75%,64.000000,34.180000,34.180000,225.000000,1.900000,11.000000,1.000000
max,79.000000,40.000000,40.000000,299.000000,2.500000,14.000000,1.000000

In [56]:
#Outcome count

print ("Count of each outcome (0= No Diabetes, 1= Diabetes):")
df["Outcome"].value_counts()

Count of each outcome (0= No Diabetes, 1= Diabetes):

Outcome
0    48911
1    26089
Name: count, dtype: int64

In [57]:
#Correlation Matrix

#seelcting numerical columns only
numerical_df = df.select_dtypes(include=['float64', 'int64'])

#calculate correlation matrix
correlation_matrix = numerical_df.corr()

print ("Correlation matrix:")
print (correlation_matrix)

Correlation matrix:
                                 Age       BMI  Glucose_Level   Insulin  \
Age                         1.000000 -0.003428      -0.003428  0.002998
BMI                        -0.003428  1.000000       1.000000  0.001635
Glucose_Level              -0.003428  1.000000       1.000000  0.001635
Insulin                     0.002998  0.001635       0.001635  1.000000
Diabetes_Pedigree_Function  0.002062 -0.001042      -0.001042  0.003042
Pregnancies                 0.000178 -0.004871      -0.004871 -0.001196
Outcome                    -0.002759 -0.006668      -0.006668 -0.006247

                            Diabetes_Pedigree_Function  Pregnancies   Outcome
Age                                           0.002062     0.000178 -0.002759
BMI                                          -0.001042    -0.004871 -0.006668
Glucose_Level                                -0.001042    -0.004871 -0.006668
Insulin                                       0.003042    -0.001196 -0.006247
Diabetes_Pedigree_Function                    1.000000    -0.000616 -0.003681
Pregnancies                                  -0.000616     1.000000 -0.000991
Outcome                                      -0.003681    -0.000991  1.000000

In [58]:
#TRAIN TEST SPLIT FOR MODELLING
from sklearn.model_selection import train_test_split

#select features and target
X = df[["Age", "BMI", "Glucose_Level", "Insulin",
        "Diabetes_Pedigree_Function", "Pregnancies"]]

y = df["Outcome"]

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2, random_state=42)

In [60]:
print ("Shapes of training and test data sets:\n")
print (X_train.shape, X_test.shape, y_train.shape, y_test.shape)

Shapes of training and test data sets:

(60000, 6) (15000, 6) (60000,) (15000,)

In [61]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
rf_model = RandomForestClassifier (random_state = 42) 
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)